#name {
  color: white;
  font-weight: bold;
}
.name {
  border-right: solid 3px red;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.7);
}

/* Animation */
.name {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 24rem;
  }
}
.speciality {
  font-size: 5rem;
  color: red;
  line-height: 1;
}
.cvButton {
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  background-color: #0c0c0c;
  border: 3px solid white;
  border-radius: 2rem;
  color: white;
  text-transform: uppercase;
}
.changeText {
  overflow: hidden;
  position: relative;
  height: 5.5rem;
  font-size: 5rem;
  color: red;
  position: relative;
  line-height: 1;
}
ul {
  padding: 0;
}

.flip2 {
  animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip2 {
  0% {
    margin-top: -10rem;
  }
  5% {
    margin-top: -5rem;
  }
  50% {
    margin-top: -5rem;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -15rem;
  }
}
